* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1E0034;
    color: #fff;
    min-height: 100vh;
}

header {
    background-color: #1E0034;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.logo {
    font-size: 35px;
    font-weight: bold;
}

.left-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-center ul {
    list-style: none;
    display: flex;
    gap: 20px;
}  

.nav-center a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-center a:hover {
    color: #00ffff;
}

.nav-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-right a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.cta-btn {
    background-color: #1EA7FD;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #0e8bd1;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    gap: 30px;      
    
    padding: 120px 40px; 
    
    background-image: linear-gradient(to right, rgba(30, 0, 52, 0.95) 40%, rgba(30, 0, 52, 0.3) 100%), url('img/about.png');
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    
    width: 100%;
}

.hero2 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 50px 150px;
}

.text {
    max-width: 500px;
}

.about-text {
    max-width: 500px;
}

.text h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.about-text h1 {
    color: black;
    font-size: 36px;
    margin-bottom: 20px;
}

.text p {
    font-size: 20px;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 20px;
    width: 90%;
    color: #000;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#simulate-btn {
    background-color: #D06833;
    color: white;
}

.about-button{
    width: 100%;
    background-color: #D06833;
    color: white;
}

.secondary-btn {
    background-color: transparent;
    color: white;
    border: 2px solid #D06833;
    margin-left: 10px;
}

.illustration img {
    max-width: 500px;
}

.illustration2 img {
    max-width: 500px;
}

footer {
    background-color: #1E0034;
    padding: 80px;
    text-align: center;
}

.icones a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}
