body {
    background-image: url('../Resources/Fundo05.png');
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-attachment: fixed;
  }

  h1 {
    color: #ff914d;
    margin-top: 50px;
  }

  .options {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    gap: 50px;
  }

  .option {
    border: 2px solid #ff914d;
    padding: 30px;
    cursor: pointer;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
    background-color: #fba068;
  }

  .option:hover {
    border: 2px solid #ff914d;
    padding: 30px;
    cursor: pointer;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
  }

  .option.selected {
    background-color: #ff914d;
    color: #1c0826;
    font-weight: bold;
  }

  button {
    background-color: #8a65ff;
    border: none;
    padding: 15px 40px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }

.centro{
    margin-top: 200px;
    width: 100%;
    height: 100%;
}

.botao-selecao {
    border: 2px solid #ff914d;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .botao-selecao:hover {
    transform: scale(1.03);
  }

  .botao-selecao.selecionado {
    background-color: #ff914d;
    color: #1c0826;
    font-weight: bold;
  }

  .botao {
    background-color: #8a65ff;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
} 
